@use './../helpers/variables.scss' as *;
@use './../helpers/mixins.scss' as *;

footer {
  background-color: $orange_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  @include maxMobile {
    & {
      justify-content: center;
      flex-direction: column;
      padding: 15px 0;
    }
  }
  .text {
    @include maxMobile {
      & {
        text-align: center;
      }
    }
    span {
      color: white;
      font-size: 25px;
    }
    span:first-child {
      margin-left: 10px;
    }
  }
  .social {
    display: flex;
    @include maxMobile {
      & {
        margin-bottom: 10px;
      }
    }
    i {
      font-size: 30px;
      color: $orange_color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      transition: $main_transition;
      &:not(:last-child) {
        margin-left: 10px;
      }
      &:first-child:hover {
        color: white;
        background-color: black;
      }
      &:nth-child(2):hover {
        background-color: $blue_color;
        color: white;
      }
      &:nth-child(3):hover {
        color: $green_color;
      }
      &:last-child:hover {
        color: $yellow_color;
      }
    }
  }
}