@use './../helpers/mixins.scss' as *;
@use './../helpers/variables.scss' as *;
@use './../componants/links.scss' as *;
// .container {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    padding-bottom: 0px;
    &.special {
      nav {
        a {
          @include maxMobile {
            font-size: 16px;
            margin: 0;
            &:not(:last-child) {
              margin-left: 10px;
            }
          }
        }
      }
    }
    nav {
      display: flex;
      align-items: center;
      &.test {
        flex-direction: column;
        align-items: flex-start;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin: 10px;
        @extend %b-animation;
        @include maxSmall {
          font-size: 20px;
        }
        &:hover {
          text-shadow: 0 0 5px white;
        }
      }
    }
    .logo {
      font-size: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-weight: bold;
      cursor: default;
      transition: $main_transition;
      @include maxSmall {
        & {
          font-size: 30px;
        }
      }
      @include maxMobile {
        font-size: 22px;
      }
      &:hover {
        text-shadow: 0 0 5px white;
      }
      span.box {
        color: $orange_color;
      }
    }
  }
// }