@use './../helpers/variables.scss' as *;
@use './../helpers/mixins.scss' as *;
@use './../componants/links.scss' as *;

.lessons {
  padding-top: 50px;
  padding-bottom: $main_padding;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .switcher {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      li {
        background-color: white;
        margin: 5px;
        color: $orange_color;
        padding: 5px 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px black;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
        @include maxMobile {
          font-size: 20px;
        }
        @include minMobile {
          font-size: 25px;
        }
        &.active {
          background-color: $orange_color;
          color: white;
          box-shadow: 0 0 5px white;
          cursor: default;
        }
      }
    }
    .boxes {
      padding-top: 30px;
      .box {
        display: none;
        &.active {
          display: block;
        }
        .teachers {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          overflow: hidden;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom: 2px solid $orange_color;
          li {
            background-color: white;
            width: 100%;
            text-align: center;
            font-weight: bold;
            padding: 10px 0;
            font-size: 20px;
            color: $orange_color;
            cursor: pointer;
            position: relative;
            &.active {
              cursor: default;
            }
            @include maxMobile {
              font-size: 25px;
            }
            @include minMobile {
              font-size: 30px;
            }
            i {
              position: absolute;
              opacity: 0.5;
              transition: $main_transition;
              color: $orange_color;
              left: 20px;
              top: 20px;
              @include minMobile {
                font-size: 30px;
              }
            }
            &.active i {
              opacity: 1;
            }
            &:hover i {
              opacity: 1;
            }
          }
        }
        .videos {
          background-color: white;
          overflow: hidden;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          &.not-long {
            grid-template-columns: 1fr;
            a {
              text-align: center;
            }
          }
          @include maxMobile {
            grid-template-columns: 1fr;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 15px;
            font-weight: bold;
            color: $orange_color;
            transition: $main_transition;
            &:hover {
              background-color: $orange_color;
              color: white;
            }
            &:not(:last-child) {
              border-bottom: 2px solid #eee;
            }
            @include maxMobile {
              text-align: center;
              font-size: 25px;
            }
            @include minMobile {
              border-left: 2px solid #eee;
              border-right: 2px solid #eee;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}